@using System.Security.Cryptography
@model Tarif
@{
    ViewData["Title"]="Create";
}

<h1>@ViewData["Title"]</h1>

@if(ViewBag.Hata!=null){
    <p class="text-danger my-2">@ViewBag.Hata</p>
}

<div asp-validation-summary="All"></div>

<form asp-action="Create" asp-controller="Tarif" method="post" enctype="multipart/form-data">

    <div class="container">
        <form>
            <div class="mb-3 row">
                <label asp-for="Ad" class="col-4 col-form-label" >Ad</label>
                <div class="col-8">         
                    <input asp-for="Ad" class="form-control" id="inputName" placeholder="Ad" />
                    <span asp-validation-for="Ad" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Malzemeler"-for class="col-4 col-form-label" >Malzemeler</label>
                <div class="col-8">
                    <input asp-for="Malzemeler" class="form-control" id="inputName" placeholder="Malzemeler" />
                    <span asp-validation-for="Malzemeler" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Yonerge" for class="col-4 col-form-label" >Tarif</label>
                <div class="col-8">
                    <input asp-for="Yonerge" class="form-control" id="inputName" placeholder="Yapılış" />
                    <span asp-validation-for="Yonerge" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Foto" class="col-4 col-form-label"> Fotoğraf</label>
                <div class="col-8">
                    <div class="mb-3">
                        <input type="file" class="form-control" name="Foto" id="inputName" placeholder="Fotoğraf Yükle" aria-describedby="fileHelpId" />
                        <span asp-validation-for="Foto" class="text-danger"></span>
                    </div>
                    
                </div>
            </div>



            <div class="mb-3 row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">
                        Action
                    </button>
                </div>
            </div>


        </form>
    </div>



</form>
